<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>multi-lora-webui</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 20px;
            color: #333;
        }

        h1 {
            color: #333;
            font-size: 28px;
            text-align: center;
            margin-bottom: 20px;
        }

        form {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-width: 800px;
            margin: 20px auto;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-row {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        .form-group {
            flex: 1;
            padding: 0 10px;
            box-sizing: border-box;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #555;
        }

        .form-group input[type="number"],
        .form-group input[type="text"],
        .form-group select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
            color: #495057; /* 更深的字体颜色 */
            font-size: 16px; /* 更大的字体大小 */
            font-weight: 500; /* 字体加粗 */
        }

        input[type="submit"],
        button {
            background-color: #007bff;
            color: white;
            padding: 10px 20px; /* 统一的内边距 */
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px; /* 统一的字体大小 */
            line-height: 1.5; /* 统一的行高 */
            text-align: center; /* 文本居中 */
            display: inline-block; /* 使按钮以内联块的方式显示 */
            width: auto; /* 自动宽度，根据内容调整 */
            box-sizing: border-box; /* 盒模型 */
        }

        #stopButton {
            background-color: #007bff;
            color: white;
            padding: 10px 20px; /* 统一的内边距 */
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            font-size: 16px; /* 统一的字体大小 */
            line-height: 1.5; /* 统一的行高 */
            text-align: center; /* 文本居中 */
            display: inline-block; /* 使按钮以内联块的方式显示 */
            width: auto; /* 自动宽度，根据内容调整 */
            box-sizing: border-box; /* 盒模型 */
        }

        input[type="submit"]:hover,
        button:hover {
            background-color: #0056b3;
        }

        .lora-item {
            border: 1px solid #eee;
            padding: 15px;
            margin-bottom: 15px;
            border-radius: 4px;
            background-color: #fafafa;
        }

        .lora-item h3 {
            margin-top: 0;
            font-size: 20px;
            color: #444;
        }

        #logContainer {
            width: 100%;
            height: 200px;
            overflow-y: scroll;
            background-color: #f0f0f0;
            margin-top: 20px;
            padding: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
        }

        #logContent {
            white-space: pre-wrap;
        }

        @media (max-width: 768px) {
            .form-row {
                flex-direction: column;
            }

            .form-group {
                padding: 0;
                margin-bottom: 15px;
            }
        }

        .form-group input[type="number"],
        .form-group input[type="text"],
        .form-group select {
            width: 100%;
            padding: 12px 15px; /* 更大的填充 */
            border: 1px solid #ced4da; /* 更细微的边框颜色 */
            border-radius: 0.25rem; /* 圆角 */
            box-sizing: border-box;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; /* 平滑过渡效果 */
        }

        .form-group input[type="number"]:focus,
        .form-group input[type="text"]:focus,
        .form-group select:focus {
            border-color: #80bdff; /* 聚焦时的边框颜色 */
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* 聚焦时的阴影效果 */
        }
    </style>
</head>
<script>
    function addLora() {
        const loraContainer = document.getElementById('loraContainer');
        const loraIndex = loraContainer.children.length;
        const loraDiv = document.createElement('div');
        loraDiv.classList.add('lora-item');
        //获取model_type的值
        const model_type = document.getElementById('model_type').value;
        if (model_type === 'llama'){
            loraDiv.innerHTML = `
                <h3>LoRA ${loraIndex}</h3>
                <label for="name_${loraIndex}">Name:</label>
                <input type="text" id="name_${loraIndex}" name="lora[${loraIndex}][name]" required value="lora_${loraIndex}"><br><br>

                <label for="output_${loraIndex}">Output:</label>
                <input type="text" id="output_${loraIndex}" name="lora[${loraIndex}][output]" required value="lora_${loraIndex}"><br><br>

                <label for="optim_${loraIndex}">Optim:</label>
                <input type="text" id="optim_${loraIndex}" name="lora[${loraIndex}][optim]" required value="sgd"><br><br>

                <label for="lr_${loraIndex}">Learning Rate:</label>
                <input type="number" step="any" id="lr_${loraIndex}" name="lora[${loraIndex}][lr]" required value=0.01><br><br>

                <label for="momentum_${loraIndex}">Momentum:</label>
                <input type="number" step="any" id="momentum_${loraIndex}" name="lora[${loraIndex}][momentum]" required  value=0.9><br><br>

                <label for="batch_size_${loraIndex}">Batch Size:</label>
                <input type="number" id="batch_size_${loraIndex}" name="lora[${loraIndex}][batch_size]" required value=16><br><br>

                <label for="micro_batch_size_${loraIndex}">Micro Batch Size:</label>
                <input type="number" id="micro_batch_size_${loraIndex}" name="lora[${loraIndex}][micro_batch_size]" required value=4><br><br>

                <label for="test_batch_size_${loraIndex}">Test Batch Size:</label>
                <input type="number" id="test_batch_size_${loraIndex}" name="lora[${loraIndex}][test_batch_size]" required value=64><br><br>

                <label for="num_epochs_${loraIndex}">Number of Epochs:</label>
                <input type="number" id="num_epochs_${loraIndex}" name="lora[${loraIndex}][num_epochs]" required value=3><br><br>

                <label for="r_${loraIndex}">R:</label>
                <input type="number" id="r_${loraIndex}" name="lora[${loraIndex}][r]" required value=8><br><br>

                <label for="alpha_${loraIndex}">Alpha:</label>
                <input type="number" id="alpha_${loraIndex}" name="lora[${loraIndex}][alpha]" required value=16><br><br>

                <label for="dropout_${loraIndex}">Dropout:</label>
                <input type="number" step="any" id="dropout_${loraIndex}" name="lora[${loraIndex}][dropout]" required value=0.05><br><br>

                <div id="target_modules_container_${loraIndex}" class="target-modules-container">
                    <h4>Target Modules ${loraIndex}</h4>

                    <label for="q_proj_${loraIndex}">q_proj:</label>
                    <input type="checkbox" id="q_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][q_proj]" checked><br><br>
                    <label for="v_proj_${loraIndex}">v_proj:</label>
                    <input type="checkbox" id="v_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][v_proj]" checked><br><br>
                    <label for="o_proj_${loraIndex}">o_proj:</label>
                    <input type="checkbox" id="o_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][o_proj]" checked><br><br>
                    <label for="w1_proj_${loraIndex}">w1_proj:</label>
                    <input type="checkbox" id="w1_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][w1_proj]" ><br><br>
                    <label for="w2_proj_${loraIndex}">w2_proj:</label>
                    <input type="checkbox" id="w2_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][w2_proj]" ><br><br>
                    <label for="w3_proj_${loraIndex}">w3_proj:</label>
                    <input type="checkbox" id="w3_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][w3_proj]" ><br><br>
                </div>
                <label for="data_${loraIndex}">Data:</label>
                <input type="text" id="data_${loraIndex}" name="lora[${loraIndex}][data]" ><br><br>

                <label for="test_data_${loraIndex}">Test Data:</label>
                <input type="text" id="test_data_${loraIndex}" name="lora[${loraIndex}][test_data]" ><br><br>

                <label for="prompt_${loraIndex}">Prompt:</label>
                <input type="text" id="prompt_${loraIndex}" name="lora[${loraIndex}][prompt]" ><br><br>

                <label for="group_by_length_${loraIndex}">Group by Length:</label>
                <input type="checkbox" id="group_by_length_${loraIndex}" name="lora[${loraIndex}][group_by_length]"><br><br>

                <label for="expand_side_${loraIndex}">Expand Side:</label>
                <select id="expand_side_${loraIndex}" name="lora[${loraIndex}][expand_side]">
                    <option value="right">Right</option>
                    <option value="left">Left</option>
                </select><br><br>

                <button type="button" onclick="removeLora(this)">Remove LoRA</button><br><br>
                <label for="numLorasToAdd">Number of LoRAs to add:</label>
                <input type="number" id="numLorasToAdd" name="numLorasToAdd" value="1" min="1"><br><br>
                <button type="button" onclick="addMultipleLoras(${loraIndex})">Add Multiple LoRAs</button>
                <br><br>
            `;
        }else if (model_type === 'chatglm'){
            loraDiv.innerHTML = `
                <h3>LoRA ${loraIndex}</h3>
                <label for="name_${loraIndex}">Name:</label>
                <input type="text" id="name_${loraIndex}" name="lora[${loraIndex}][name]" required value="lora_${loraIndex}"><br><br>

                <label for="output_${loraIndex}">Output:</label>
                <input type="text" id="output_${loraIndex}" name="lora[${loraIndex}][output]" required value="lora_${loraIndex}"><br><br>

                <label for="optim_${loraIndex}">Optim:</label>
                <input type="text" id="optim_${loraIndex}" name="lora[${loraIndex}][optim]" required value="sgd"><br><br>

                <label for="lr_${loraIndex}">Learning Rate:</label>
                <input type="number" step="any" id="lr_${loraIndex}" name="lora[${loraIndex}][lr]" required value=0.01><br><br>

                <label for="momentum_${loraIndex}">Momentum:</label>
                <input type="number" step="any" id="momentum_${loraIndex}" name="lora[${loraIndex}][momentum]" required  value=0.9><br><br>

                <label for="batch_size_${loraIndex}">Batch Size:</label>
                <input type="number" id="batch_size_${loraIndex}" name="lora[${loraIndex}][batch_size]" required value=16><br><br>

                <label for="micro_batch_size_${loraIndex}">Micro Batch Size:</label>
                <input type="number" id="micro_batch_size_${loraIndex}" name="lora[${loraIndex}][micro_batch_size]" required value=4><br><br>

                <label for="test_batch_size_${loraIndex}">Test Batch Size:</label>
                <input type="number" id="test_batch_size_${loraIndex}" name="lora[${loraIndex}][test_batch_size]" required value=64><br><br>

                <label for="num_epochs_${loraIndex}">Number of Epochs:</label>
                <input type="number" id="num_epochs_${loraIndex}" name="lora[${loraIndex}][num_epochs]" required value=3><br><br>

                <label for="r_${loraIndex}">R:</label>
                <input type="number" id="r_${loraIndex}" name="lora[${loraIndex}][r]" required value=8><br><br>

                <label for="alpha_${loraIndex}">Alpha:</label>
                <input type="number" id="alpha_${loraIndex}" name="lora[${loraIndex}][alpha]" required value=16><br><br>

                <label for="dropout_${loraIndex}">Dropout:</label>
                <input type="number" step="any" id="dropout_${loraIndex}" name="lora[${loraIndex}][dropout]" required value=0.05><br><br>

                <div id="target_modules_container_${loraIndex}" class="target-modules-container">
                    <h4>Target Modules ${loraIndex}</h4>

                    <label for="qkv_${loraIndex}">q_proj:</label>
                    <input type="checkbox" id="qkv_${loraIndex}" name="lora[${loraIndex}][target_modules][qkv]" checked><br><br>
                    <label for="dense_${loraIndex}">dense:</label>
                    <input type="checkbox" id="dense_${loraIndex}" name="lora[${loraIndex}][target_modules][dense]" checked><br><br>
                    <label for="mlp_in_${loraIndex}">mlp_in:</label>
                    <input type="checkbox" id="mlp_in_${loraIndex}" name="lora[${loraIndex}][target_modules][mlp_in]" checked><br><br>
                    <label for="mlp_out_${loraIndex}">mlp_out:</label>
                    <input type="checkbox" id="mlp_out_${loraIndex}" name="lora[${loraIndex}][target_modules][mlp_out]" checked><br><br>
                </div>
                <label for="data_${loraIndex}">Data:</label>
                <input type="text" id="data_${loraIndex}" name="lora[${loraIndex}][data]" ><br><br>

                <label for="test_data_${loraIndex}">Test Data:</label>
                <input type="text" id="test_data_${loraIndex}" name="lora[${loraIndex}][test_data]" ><br><br>

                <label for="prompt_${loraIndex}">Prompt:</label>
                <input type="text" id="prompt_${loraIndex}" name="lora[${loraIndex}][prompt]" ><br><br>

                <label for="group_by_length_${loraIndex}">Group by Length:</label>
                <input type="checkbox" id="group_by_length_${loraIndex}" name="lora[${loraIndex}][group_by_length]"><br><br>

                <label for="expand_side_${loraIndex}">Expand Side:</label>
                <select id="expand_side_${loraIndex}" name="lora[${loraIndex}][expand_side]">
                    <option value="right">Right</option>
                    <option value="left">Left</option>
                </select><br><br>

                <button type="button" onclick="removeLora(this)">Remove LoRA</button><br><br>
                <label for="numLorasToAdd">Number of LoRAs to add:</label>
                <input type="number" id="numLorasToAdd" name="numLorasToAdd" value="1" min="1"><br><br>
                <button type="button" onclick="addMultipleLoras(${loraIndex})">Add Multiple LoRAs</button>
                <br><br>
            `;
        }else {
            loraDiv.innerHTML = `
                <h3>LoRA ${loraIndex}</h3>
                <label for="name_${loraIndex}">Name:</label>
                <input type="text" id="name_${loraIndex}" name="lora[${loraIndex}][name]" required value="lora_${loraIndex}"><br><br>

                <label for="output_${loraIndex}">Output:</label>
                <input type="text" id="output_${loraIndex}" name="lora[${loraIndex}][output]" required value="lora_${loraIndex}"><br><br>

                <label for="optim_${loraIndex}">Optim:</label>
                <input type="text" id="optim_${loraIndex}" name="lora[${loraIndex}][optim]" required value="sgd"><br><br>

                <label for="lr_${loraIndex}">Learning Rate:</label>
                <input type="number" step="any" id="lr_${loraIndex}" name="lora[${loraIndex}][lr]" required value=0.01><br><br>

                <label for="momentum_${loraIndex}">Momentum:</label>
                <input type="number" step="any" id="momentum_${loraIndex}" name="lora[${loraIndex}][momentum]" required  value=0.9><br><br>

                <label for="batch_size_${loraIndex}">Batch Size:</label>
                <input type="number" id="batch_size_${loraIndex}" name="lora[${loraIndex}][batch_size]" required value=16><br><br>

                <label for="micro_batch_size_${loraIndex}">Micro Batch Size:</label>
                <input type="number" id="micro_batch_size_${loraIndex}" name="lora[${loraIndex}][micro_batch_size]" required value=4><br><br>

                <label for="test_batch_size_${loraIndex}">Test Batch Size:</label>
                <input type="number" id="test_batch_size_${loraIndex}" name="lora[${loraIndex}][test_batch_size]" required value=64><br><br>

                <label for="num_epochs_${loraIndex}">Number of Epochs:</label>
                <input type="number" id="num_epochs_${loraIndex}" name="lora[${loraIndex}][num_epochs]" required value=3><br><br>

                <label for="r_${loraIndex}">R:</label>
                <input type="number" id="r_${loraIndex}" name="lora[${loraIndex}][r]" required value=8><br><br>

                <label for="alpha_${loraIndex}">Alpha:</label>
                <input type="number" id="alpha_${loraIndex}" name="lora[${loraIndex}][alpha]" required value=16><br><br>

                <label for="dropout_${loraIndex}">Dropout:</label>
                <input type="number" step="any" id="dropout_${loraIndex}" name="lora[${loraIndex}][dropout]" required value=0.05><br><br>

                <div id="target_modules_container_${loraIndex}" class="target-modules-container">
                    <h4>Target Modules ${loraIndex}</h4>

                    <label for="q_proj_${loraIndex}">q_proj:</label>
                    <input type="checkbox" id="q_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][q_proj]" checked><br><br>
                    <label for="v_proj_${loraIndex}">v_proj:</label>
                    <input type="checkbox" id="v_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][v_proj]" checked><br><br>
                    <label for="o_proj_${loraIndex}">o_proj:</label>
                    <input type="checkbox" id="o_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][o_proj]" checked><br><br>
                    <label for="w1_proj_${loraIndex}">w1_proj:</label>
                    <input type="checkbox" id="w1_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][w1_proj]" ><br><br>
                    <label for="w2_proj_${loraIndex}">w2_proj:</label>
                    <input type="checkbox" id="w2_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][w2_proj]" ><br><br>
                    <label for="w3_proj_${loraIndex}">w3_proj:</label>
                    <input type="checkbox" id="w3_proj_${loraIndex}" name="lora[${loraIndex}][target_modules][w3_proj]" ><br><br>
                </div>
                <label for="data_${loraIndex}">Data:</label>
                <input type="text" id="data_${loraIndex}" name="lora[${loraIndex}][data]" ><br><br>

                <label for="test_data_${loraIndex}">Test Data:</label>
                <input type="text" id="test_data_${loraIndex}" name="lora[${loraIndex}][test_data]" ><br><br>

                <label for="prompt_${loraIndex}">Prompt:</label>
                <input type="text" id="prompt_${loraIndex}" name="lora[${loraIndex}][prompt]" ><br><br>

                <label for="group_by_length_${loraIndex}">Group by Length:</label>
                <input type="checkbox" id="group_by_length_${loraIndex}" name="lora[${loraIndex}][group_by_length]"><br><br>

                <label for="expand_side_${loraIndex}">Expand Side:</label>
                <select id="expand_side_${loraIndex}" name="lora[${loraIndex}][expand_side]">
                    <option value="right">Right</option>
                    <option value="left">Left</option>
                </select><br><br>

                <button type="button" onclick="removeLora(this)">Remove LoRA</button><br><br>
                <label for="numLorasToAdd">Number of LoRAs to add:</label>
                <input type="number" id="numLorasToAdd" name="numLorasToAdd" value="1" min="1"><br><br>
                <button type="button" onclick="addMultipleLoras(${loraIndex})">Add Multiple LoRAs</button>
                <br><br>
            `;
        }
        loraContainer.appendChild(loraDiv);
    }

    function removeLora(button) {
        button.closest('.lora-item').remove();
    }

    function addMultipleLoras(index) {
        const numLorasToAdd = document.getElementById('numLorasToAdd').value;
        const loraContainer = document.getElementById('loraContainer');
        const loraCount = loraContainer.children.length;

        // 确保至少有一个LoRA配置存在
        if (loraCount === 0) {
            // 如果没有任何LoRA配置，只需添加指定数量的新LoRA配置
            for (let i = 0; i < numLorasToAdd; i++) {
                addLora();
            }
        } else {
            // 获取最后一个LoRA配置的参数
            const lastLoraDiv = loraContainer.children[index];
            const lastLoraInputs = lastLoraDiv.querySelectorAll('input[type="text"], input[type="number"], select, input[type="checkbox"]');

            const lastLoraParams = {};
            lastLoraInputs.forEach(input => {
                if (input.type === 'checkbox') {
                    lastLoraParams[input.id] = input.checked;
                } else {
                    lastLoraParams[input.id] = input.value;
                }
            });

            for (let i = 0; i < numLorasToAdd; i++) {
                addLora();

                // 获取新添加的LoRA配置
                const newLoraIndex = loraContainer.children.length - 1;
                const newLoraDiv = loraContainer.children[newLoraIndex];
                const newLoraInputs = newLoraDiv.querySelectorAll('input[type="text"], input[type="number"], select, input[type="checkbox"]');

                // 设置新LoRA配置的参数
                newLoraInputs.forEach(input => {
                    const paramId = input.id.replace(new RegExp(`_${newLoraIndex}$`), `_${index}`);
                    if (input.type === 'checkbox') {
                        input.checked = lastLoraParams[paramId];
                    } else if (input.type === 'text' || input.type === 'number') {
                        if (input.id.includes('name_') || input.id.includes('output_')) {
                            input.value = `lora_${newLoraIndex}`; // 设置新的名称
                        } else {
                            input.value = lastLoraParams[paramId];
                        }
                    }
                });
            }
        }
    }

    function generateJSON() {
        const logContent = document.getElementById('logContent');
        logContent.textContent = '';
        const form = document.getElementById('jsonForm');
        const formData = new FormData(form);
        console.log(formData)
        const formProps = Object.fromEntries(formData.entries());

        // Create JSON object
        let json = {
            base_model: formProps.base_model,
            model_type: formProps.model_type,
            inference: formProps.inference,
            load_lora: formProps.load_lora,
            disable_lora: formProps.disable_lora,
            tokenizer: formProps.tokenizer,
            load_8bit: formProps.load_8bit,
            load_4bit: formProps.load_4bit,
            device: formProps.device,
            seed: parseInt(formProps.seed),
            log: formProps.log
        };

        let config = {
            cutoff_len: parseInt(formProps.cutoff_len),
            save_step: parseInt(formProps.save_step),
            early_stop_test_step: parseInt(formProps.early_stop_test_step),
            train_lora_candidate_num: parseInt(formProps.train_lora_candidate_num),
            train_lora_simultaneously_num: parseInt(formProps.train_lora_simultaneously_num),
            train_strategy: formProps.train_strategy,
            lora: []
        }

        // Add LoRA objects
        const loraItems = document.querySelectorAll('.lora-item');
        loraItems.forEach((loraDiv, index) => {
            const targetModulesContainer = document.getElementById(`target_modules_container_${index}`);
            const targetModulesInputs = targetModulesContainer.querySelectorAll('input');
            const targetModules = {};

            targetModulesInputs.forEach(input => {
                const name = input.name.match(/\[target_modules\]\[(.*?)\]$/)[1];
                targetModules[name] = input.value;
            });
            const loraData = {
                name: formProps[`lora[${index}][name]`],
                output: formProps[`lora[${index}][output]`],
                optim: formProps[`lora[${index}][optim]`],
                lr: parseFloat(formProps[`lora[${index}][lr]`]),
                momentum: parseFloat(formProps[`lora[${index}][momentum]`]),
                batch_size: parseInt(formProps[`lora[${index}][batch_size]`]),
                micro_batch_size: parseInt(formProps[`lora[${index}][micro_batch_size]`]),
                test_batch_size: parseInt(formProps[`lora[${index}][test_batch_size]`]),
                num_epochs: parseInt(formProps[`lora[${index}][num_epochs]`]),
                r: parseInt(formProps[`lora[${index}][r]`]),
                alpha: parseInt(formProps[`lora[${index}][alpha]`]),
                dropout: parseFloat(formProps[`lora[${index}][dropout]`]),
                target_modules: targetModules,
                data: formProps[`lora[${index}][data]`],
                test_data: formProps[`lora[${index}][test_data]`],
                prompt: formProps[`lora[${index}][prompt]`],
                group_by_length: formProps[`lora[${index}][group_by_length]`] === 'on',
                expand_side: formProps[`lora[${index}][expand_side]`]
            };
            config.lora.push(loraData);
        });
        json.config = config;
        // Convert JSON object to string
        const jsonString = JSON.stringify(json, null, 2);
        console.log(jsonString)
        // Send JSON string to server
        // Here you would use something like fetch or XMLHttpRequest to send the data

        const curl = "/run/finetune";
        let requestInstance = new Request(curl, {
            method: 'post',
            headers: {
                'Content-Type': 'application/json;charset=utf-8'
            },
            body: jsonString
        })
        fetch(requestInstance).then(res => res.json())
            .then(data => {
                const processId = data.process_id;
                const logInterval = setInterval(() => {
                    let request = new Request("/getlog?process_id=" + processId, {
                        method: 'get',
                        headers: {
                            'Content-Type': 'application/json;charset=utf-8'
                        }
                    });
                    fetch(request).then(res => res.json()).then(data2 => {
                        console.log(data2);
                        const logContent = document.getElementById('logContent');
                        logContent.innerText += data2.join('\n'); // 使用innerText
                        // 自动滚动到底部
                        const logContainer = document.getElementById('logContainer');
                        logContainer.scrollTop = logContainer.scrollHeight;
                    })
                        .catch(error => {
                            console.error("Error fetching log:", error);
                            clearInterval(logInterval); // 如果发生错误，停止定时器
                        });
                }, 5000);
                // 设置为每5秒执行一次

                document.getElementById('stopButton').setAttribute('data-process-id', processId);
                document.getElementById('stopButton').onclick = function () {
                    clearInterval(logInterval); // 点击停止按钮时，清除定时器
                    stopOperation();
                };
            })
            .catch(e => console.log('错误:', e));
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById('jsonForm').onsubmit = function (event) {
            event.preventDefault();
            document.getElementById('submitButton').disabled = true;

            // 启用停止按钮
            document.getElementById('stopButton').disabled = false;
            generateJSON();
        };
    });
</script>
</head>
<body>

<h1></h1>
<form id="jsonForm">
    <label for="base_model">base_model:</label>
    <input type="text" id="base_model" name="base_model"><br><br>
    <label for="model_type">model_type:</label>
    <select id="model_type" name="model_type">
        <option value="llama">llama</option>
        <option value="chatglm">chatglm</option>
        <!-- 添加其他model_type选项 -->
    </select><br><br>
    <label for="inference">inference:</label>
    <input type="text" id="inference" name="inference"><br><br>
    <label for="load_lora">load_lora:</label>
    <input type="text" id="load_lora" name="load_lora"><br><br>
    <label for="disable_lora">disable_lora:</label>
    <input type="text" id="disable_lora" name="disable_lora"><br><br>
    <label for="tokenizer">tokenizer:</label>
    <input type="text" id="tokenizer" name="tokenizer"><br><br>
    <label for="load_8bit">load_8bit:</label>
    <input type="text" id="load_8bit" name="load_8bit"><br><br>
    <label for="load_4bit">load_4bit:</label>
    <input type="text" id="load_4bit" name="load_4bit"><br><br>
    <label for="device">device:</label>
    <input type="text" id="device" name="device" required value="cuda:0"><br><br>
    <label for="seed">seed:</label>
    <input type="text" id="seed" name="seed" required value=42><br><br>
    <label for="log">log:</label>
    <input type="text" id="log" name="log" required value="true"><br><br>

    <label for="cutoff_len">Cutoff Length:</label>
    <input type="number" id="cutoff_len" name="cutoff_len" value="256" required><br><br>

    <label for="save_step">Save Step:</label>
    <input type="number" id="save_step" name="save_step" value="2000" required><br><br>

    <label for="early_stop_test_step">Early Stop Test Step:</label>
    <input type="number" id="early_stop_test_step" name="early_stop_test_step" value="2000" required><br><br>

    <label for="train_lora_candidate_num">Train LoRA Candidate Num:</label>
    <input type="number" id="train_lora_candidate_num" name="train_lora_candidate_num" value="4" required><br><br>

    <label for="train_lora_simultaneously_num">Train LoRA Simultaneously Num:</label>
    <input type="number" id="train_lora_simultaneously_num" name="train_lora_simultaneously_num" value="2" required>
    <br>

    <label for="train_strategy">Train Strategy:</label>
    <input type="text" id="train_strategy" name="train_strategy" value="optim" required><br><br>

    <div id="loraContainer">
        <!-- LoRA objects will be added here -->
    </div>
    <button type="button" onclick="addLora()">Add LoRA</button>
    <br><br>

    <input type="submit" id="submitButton" value="Start">
    <input type="button" class="stopButton" value="Stop" id="stopButton" onclick="stopOperation()" disabled>
</form>
<div id="logContainer"
     style="width: 100%; height: 200px; overflow-y: scroll; background-color: #f0f0f0; margin-top: 20px; padding: 10px; box-sizing: border-box; border: 1px solid #ccc;">
    <pre id="logContent"></pre>
</div>
<script>

    function stopOperation() {
        console.log('Stop button clicked');
        const processId = document.getElementById('stopButton').getAttribute('data-process-id');
        if (processId) {
            fetch('/stop/finetune', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({process_id: processId})
            })
                .then(response => response.json())
                .then(data => {
                    // 如果需要，重新启用开始按钮
                    document.getElementById('submitButton').disabled = false;
                    // 禁用停止按钮
                    document.getElementById('stopButton').disabled = true;
                })
                .catch(error => console.error('Error:', error));
        } else {
            console.error('No process ID found');
        }
    }

</script>

</body>
</html>
