name: Test 7B Llama Models

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-llama-7b:
    runs-on: self-hosted
    steps:
    - name: clone repository
      run: |
        cd /workspace
        rm -rf ./multi-lora-fine-tune
        git clone git@github.com:TUDB-Labs/multi-lora-fine-tune.git
    - name: test llama-7b
      run: |
        cd /workspace/multi-lora-fine-tune
        python mlora.py --base_model /data/llama-7b-hf --config ./config/finetune.json --load_8bit
  test-vicuna-7b:
    runs-on: self-hosted
    steps:
    - name: clone repository
      run: |
        cd /workspace
        rm -rf ./multi-lora-fine-tune
        git clone git@github.com:TUDB-Labs/multi-lora-fine-tune.git
    - name: test vicuna-7b-v1.1
      run: |
        cd /workspace/multi-lora-fine-tune
        python mlora.py --base_model /data/vicuna-7b-v1.1 --config ./config/finetune.json --load_8bit